# macOS system files
.DS_Store
**/.DS_Store

# Environment variables
.env

# Simulation results
Games/1_Prisoners_Dilemma/simulation_results/ 
Games/2_MIT_Beer_Game/simulation_resultsss/ 
Games/3_MIT_Beer_Game_with_Rational_Agents/simulation_results/ 
Games/4_MIT_Beer_Game_with_Rational_Agents_and_LLMs/simulation_results/ 
Games/5_MIT_Beer_Game_with_Rational_Agents_and_LLMs_and_MRIPtbr/simulation_results/ 


*/simulation_results/*

*.pyc